Maze/Resources/ruleMaze.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Matrix">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Row">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Cell" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="StartPoint" type="xs:string" />
				<xs:element name="EndPoint" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>